.cls-1 {fill: #0c4499;}
.cls-2 {fill: #fed036;}
.cls-3 {fill: #f2af34;}
.cls-4 {fill: #136ffb;}
.cls-5 {fill: #c1edfe;}
.cls-6 {fill: #fff;}
.cls-7 {fill: #bfecff;}
.cls-8 {fill: #006aff;}
.cls-9 {fill: #c1e8fa;}
.cls-10 {fill: #194995;}
.cls-11 {fill: #c0e7fa;}